{% extends "base.html" %}

{% block content %}

<div id="map"></div>
<div id='legend-content' style='display:none;'>
  <div class='legend'>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <li><span style='background:#CB181D;'></span>Empty</li>
        <li><span style='background:#74A9CF;'></span>Full</li>
      </ul>
    </div>
  </div>
</div>

<script>

var map = L.mapbox.map('map', 'examples.map-9ijuk24y', {legendControl:{position:'bottomleft'}}).setView([40.7262, -73.962], 13);

function getData(empty, elem) {
  $.ajax({
    url: '/_get_stations',
    type: 'POST',
    cache: false,
    data: {empty: empty},
    success: function(results) {
      $("#ajaxloader").hide();
      $(elem).show();

      var recs = results.recs;
      var markers = results.markers;

      L.mapbox.markerLayer(markers).addTo(map);

      jQuery.each(recs, function(idx, d){
        $(elem + ' tbody').append(
          '<tr id="' + d.Station + '"><td>' + d.Station + '</td><td>' + d['Percent Full'] + '%</td></tr>')          
      });

      mouseover()
    }
  });
  return false
}

$(function() {
  emptyMarkers = getData('empty', '#emptyRecs');
})

$(function() {
  getData('full', '#fullRecs');
  $('#fullLoader').hide();
})

$('#stations a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

 map.legendControl.addLegend(document.getElementById('legend-content').innerHTML);

function mouseover(){
 $('.leaflet-marker-icon').on('mouseover', function(d){
  _this = d.target.title;
  $('tr[id="'+_this+'"]').addClass('custom-active');
 });

  $('.leaflet-marker-icon').on('mouseout', function(d){
   _this = d.target.title;
  $('tr[id="'+_this+'"]').removeClass('custom-active');
  })
}
 
</script>

<div class="container map-container">
  <div class="row">
    <div class="col-md-4 col-md-offset-8 well map-well">
      <ul class="nav nav-tabs" id="stations">
        <li class="active"><a href="#empty" data-toggle="tab">Empty</a></li>
        <li><a href="#full" data-toggle="tab">Full</a></li>
        <li><a href="#about" data-toggle="tab">About</a></li>
      </ul>
      <div class="tab-content">
        <div id="empty" class="tab-pane fade in active">
          <h4>Which empty stations should be prioritized?</h4>

          <p>There are over 300 stations in the Citibike system. Which stations should be prioritized for rebalancing? The red markers show the stations that should be the highest priority for rebalancing.</p>

          <div id="ajaxloader"><img src="{{ url_for('static', filename='img/loader.gif') }}" /></div>

          <table class="table" id="emptyRecs" style="display:none">
            <thead>
              <th>Station</th>
              <th>Percent Full</th>
            </thead>
            <tbody>
            </tbody>
          </table>

        </div>
        <div id="full" class="tab-pane fade">
          <h4>Which are the most central full stations?</h4>

          <p>The blue markers show the most central full stations.</p>

          <div id="#fullLoader" style="display:none"><img src="{{ url_for('static', filename='img/loader.gif') }}" /></div>

          <table class="table" id="fullRecs" style="display:none">
            <thead>
              <th>Station</th>
              <th>Percent Full</th>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div id="about" class="tab-pane fade">
          <h4>How does it work?</h4>
            <p>There are 330 Citibike stations currently in the system, and Citibike plans to grow to over 600 stations. This makes the already challenging problem of rebalancing even more so: of all empty stations, which ones should be rebalanced first?</p>
            <p>This is an attempt to solve that problem. First, empty stations are clustered into geographical <em>k-means</em> clusters. Next, each cluster is represented as a network graph. The most central nodes of each graph are selected and displayed on the map and in the tables on the other tabs.
            <small><p>This was made by <a href="http://bensmithgall.com">Ben.</a> You can read more about the idea behind the system <a href="http://bensmithgall.com/blog/citibike-thoughts/">here</a>.</p>
            <p>Made with <a href="http://networkx.github.io/">networkx</a>, <a href="www.mapbox.com">Mapbox</a>, <a href="http://flask.pocoo.org/">Flask</a>, and <a href="www.heroku.com">Heroku</a>.</p></small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}